:root {
    --background: black;
}

body {
    background-color: var(--background);
}

.nav-container {
    display: grid;
}

.logo {
    height: 400px;
    width: 650px;
    grid-row: 1;
}

.nav {
    text-decoration: none;
    grid-row: 1;
}